.order_table {

    box-shadow: 0 0 40px 0rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
}

.order_table th {
    /* font-family: Lato-Bold; */
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
}

.order_table td {
    /* font-family: Lato-Regular; */
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
}

@media (max-width: 359px) {

    .col-custom-o {
        display: none!important;
    }
}

