<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf=8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>App Title</title>
        <link href="../css/index.css" rel="stylesheet">
        <script href="../js/jquery-3.6.0.min.js"></script>
        <!-- <script type="text/javascript" src="../js/get_data_table.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- <script src="js/itemService.js"></script> -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <script href="../js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
        <!-- <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" /> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
        <link href="../css/font-awesome-bc.min.css" rel="stylesheet">
        <link href="../css/style_bs.css" rel="stylesheet">

        <!-- <script src="./js/bootstrap.js"></script> -->

        <!-- <script src="../js/custom.js"></script> -->

        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"> -->
        </script>
    
      </head>

    <body>
        <div id="container-fluid">
            <div class="d-flex flex-column">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light mt-0 pt-3 pb-3" style="background-color: #063547!important">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="#" style="color: white;">
                            <!-- <img src="img/Bookstore logo.png" height="55" width="155"> -->
                            <h3 class="mb-0">
                              Book store
                            </h3>
                          </a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item me-2">
                                <a class="nav-link active" aria-current="page" href="../index.html" style="color: white">Home</a>
                              </li>
                              <li class="nav-item me-2">
                                <a class="nav-link" href="./categories.html" style="color: white">Categories</a>
                              </li>
                              <li class="nav-item me-2">
                                <a class="nav-link" href="./about_us.html" style="color: white">About us</a>
                              </li>
                              <li class="nav-item me-2">
                                <a class="nav-link" href="./login.html" style="color: white">Log in</a>
                              </li>
                              <li class="nav-item me-2">
                                <a class="nav-link" href="./registration.html" style="color: white">Registration</a>
                              </li>
                            </ul>
                            <form class="d-flex">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                          </div>
                        </div>
                    </nav>
                </div>
                
            </div>
        </div>


        <section class="catagory_section layout_padding">
          <div class="catagory_container">
            <div class="container ">
              <div class="heading_container heading_center">
                <h2>
                  Books Categories
                </h2>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                </p>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4 ">
                  <div class="box ">
                    <div class="img-box">
                      <img src="../img/cat1.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h5>
                        Textbooks
                      </h5>
                      <p>
                        fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The
                        point of using
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 ">
                  <div class="box ">
                    <div class="img-box">
                      <img src="../img/cat2.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h5>
                        Science
                      </h5>
                      <p>
                        fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The
                        point of using
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 ">
                  <div class="box ">
                    <div class="img-box">
                      <img src="../img/cat3.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h5>
                        History
                      </h5>
                      <p>
                        fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The
                        point of using
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 ">
                  <div class="box ">
                    <div class="img-box">
                      <img src="../img/cat4.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h5>
                        Biography
                      </h5>
                      <p>
                        fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The
                        point of using
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 ">
                  <div class="box ">
                    <div class="img-box">
                      <img src="../img/cat5.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h5>
                        Adventure
                      </h5>
                      <p>
                        fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The
                        point of using
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 ">
                  <div class="box ">
                    <div class="img-box">
                      <img src="../img/cat6.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h5>
                        Fantasy
                      </h5>
                      <p>
                        fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The
                        point of using
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="info_section layout_padding2">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-3 info-col">
                  <div class="info_detail">
                    <h4>
                      About Us
                    </h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>
                    <div class="info_social">
                      <a href="">
                        <i class="bi bi-facebook"></i>
                      </a>
                      <a href="">
                        <i class="bi bi-twitter"></i>
                      </a>
                      <a href="">
                        <i class="bi bi-linkedin"></i>
                      </a>
                      <a href="">
                        <i class="bi bi-instagram"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 info-col">
                  <div class="info_contact">
                    <h4>
                      Address
                    </h4>
                    <div class="contact_link_box">
                      <a href="">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>
                          Location
                        </span>
                      </a>
                      <a href="">
                        <i class="bi bi-telephone"></i>
                        <span>
                          Call +04 0734567890
                        </span>
                      </a>
                      <a href="">
                        <i class="bi bi-envelope"></i>
                        <span>
                          burch.university@gmail.com
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 info-col">
                  <div class="info_contact">
                    <h4>
                      Newsletter
                    </h4>
                    <form action="#">
                      <input type="text" placeholder="Enter email" />
                      <button type="submit">
                        Subscribe
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 info-col">
                  <div class="map_container">
                    <div class="map">
                      <div id="googleMap"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
          <div class="h-100 d-flex flex-column justify-content-end" style="background-color:#dddddd;">
            <footer class="w-100 d-flex justify-content-center mb-4 text-center ps-2 pe-2 h-auto">
                Copyright 2022 by IBU. All Rights Reserved. Book Store
            </footer>
          </div>
          
    </body>
</html>