<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf=8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>App Title</title>
        <link href="../css/index.css" rel="stylesheet">
        <link href="../css/books.css" rel="stylesheet">

        <script href="../js/jquery-3.6.0.min.js"></script>
        <!-- <script type="text/javascript" src="js/get_data_table.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- <script src="../js/itemService.js"></script> -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <!-- <link href="../css/bootstrap.min.css" rel="stylesheet"> -->
        

        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <script href="../js/bootstrap.bundle.min.js"></script>

        <link href="../css/style_bs.css" rel="stylesheet">

        <link href="../css/orders.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    
        <script src="../js/user_home.js"></script>
        <!-- <script src="../js/logOut.js"></script> -->
        <!-- <script src="../js/user.js"></script> -->
        <script src="../js/user-service.js"></script>

    </head>

    <body class="d-flex flex-column vh-100">
        <div>
            <div id="container-fluid">
                <div class="d-flex flex-column">
                    <div class="col">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light mt-0 pt-3 pb-3" style="background-color: #063547!important">
                            <div class="container-fluid">
                              <a class="navbar-brand" href="./user_home.html" style="color: white;">
                                <h3 class="mb-0">
                                  Book store
                                </h3>
                              </a>
                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                  <li class="nav-item me-2">
                                    <a class="nav-link active" aria-current="page" href="./user_home.html" style="color: white">Home</a>
                                  </li>
                                  <li class="nav-item me-2">
                                    <a class="nav-link" href="./books.html" style="color: white">Books</a>
                                  </li>
                                  <li class="nav-item me-2">
                                    <a class="nav-link" href="./my_orders.html" style="color: white">My orders</a>
                                  </li>
                                  <li class="nav-item me-2">
                                    <a class="nav-link" href="./user.html" style="color: white" id="welcome_user">User</a>
                                  </li>
                                  <li class="nav-item me-2">
                                    <a class="nav-link log-out" onclick="UserService.logout()" style="color: white">Log out</a>
                                  </li>
                                </ul>
                                <form class="d-flex">
                                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                  <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                              </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-center" style="margin-left: auto!important; margin-right: auto!important;">
 
                <div class="container rounded bg-white mb-5">
                    <div class="row">
                        <div class="col-md-3 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                <img class="mt-5" width="150px" src="../img/1.jpeg">
                                <span class="font-weight-bold mt-2" id="spanUserName">Book 11</span>
                                <!-- <span class="text-black-50" id="spanUserEmail">edogaru@mail.com.my</span> -->
                                <span> </span>
                            </div>
                        </div>
                        <div class="col-md-5 border-right">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-2">
                                    <h4 class="text-right">Book description</h4>
                                </div>
        
                                <div class="form-check border-bottom mb-3 pb-3 ps-0">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
        
                                <div class="h4 mt-2">Order book</div>
        
                                <div class="row mt-3">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <label class="labels">How many books?</label>
                                        <div class="input-group" id="inputNrOfBooks">
                                            <input type="number" class="form-control" id="bookCount">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <button class="btn btn-primary profile-button w-100" type="button" onclick="updateUserProfile()">Order book</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="p-3 py-5">
                                <button type="button" onclick="signOut()" class="btn btn-secondary mt-3">Log out</button>
                            </div>
                        </div> -->
                    </div>
                </div>
            
            </div>
        </div>
        
        
        <div class="d-flex flex-column justify-content-end" style="background-color:#dddddd;">
          <footer class="w-100 d-flex justify-content-center mb-4 text-center ps-2 pe-2 h-auto">
              Copyright 2022 by IBU. All Rights Reserved. Book Store
          </footer>
        </div>
    </body>
</html>
